<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>减注.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{205,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>加注.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{257,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>按钮按下.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,223}</string>
                <key>spriteSourceSize</key>
                <string>{911,223}</string>
                <key>textureRect</key>
                <string>{{0,98},{911,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>按钮未按下.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,255}</string>
                <key>spriteSourceSize</key>
                <string>{911,255}</string>
                <key>textureRect</key>
                <string>{{911,98},{911,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>机器显示背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{827,567}</string>
                <key>spriteSourceSize</key>
                <string>{827,567}</string>
                <key>textureRect</key>
                <string>{{1080,353},{827,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>标题.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,302}</string>
                <key>spriteSourceSize</key>
                <string>{1080,302}</string>
                <key>textureRect</key>
                <string>{{0,353},{1080,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>电话号码背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,46}</string>
                <key>spriteSourceSize</key>
                <string>{205,46}</string>
                <key>textureRect</key>
                <string>{{0,0},{205,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>获奖名单.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,88}</string>
                <key>spriteSourceSize</key>
                <string>{257,88}</string>
                <key>textureRect</key>
                <string>{{309,0},{257,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>规则背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,98}</string>
                <key>spriteSourceSize</key>
                <string>{604,98}</string>
                <key>textureRect</key>
                <string>{{566,0},{604,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Slot.png</string>
            <key>size</key>
            <string>{1907,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04ffc221c825683f10438a3fe30f07b2:fbaa04a9b4cc4db90b11dd1fb4edfd34:8566c4fbea02e432c156da5bf3d11749$</string>
            <key>textureFileName</key>
            <string>Slot.png</string>
        </dict>
    </dict>
</plist>
