<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>关闭.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,137}</string>
                <key>spriteSourceSize</key>
                <string>{138,137}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>娱乐中心.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,161}</string>
                <key>spriteSourceSize</key>
                <string>{727,161}</string>
                <key>textureRect</key>
                <string>{{0,792},{727,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>抢红包.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,198}</string>
                <key>spriteSourceSize</key>
                <string>{537,198}</string>
                <key>textureRect</key>
                <string>{{138,0},{537,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>斗地主.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,199}</string>
                <key>spriteSourceSize</key>
                <string>{541,199}</string>
                <key>textureRect</key>
                <string>{{0,593},{541,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>水果机.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{539,200}</string>
                <key>spriteSourceSize</key>
                <string>{551,200}</string>
                <key>textureRect</key>
                <string>{{0,198},{539,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>麻将.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{539,195}</string>
                <key>spriteSourceSize</key>
                <string>{549,195}</string>
                <key>textureRect</key>
                <string>{{0,398},{539,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DSSC娱乐中心.png</string>
            <key>size</key>
            <string>{727,953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7c553d62fcdbd347331cb5dcf32ac8e:a86bc54dc5f14d02de081f81da8366a1:cdfe6830647d031f115df8c864c5ecf1$</string>
            <key>textureFileName</key>
            <string>DSSC娱乐中心.png</string>
        </dict>
    </dict>
</plist>
