<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>-s-e令牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-s-电池.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-s-金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{132,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-s-钻.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{176,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DoorBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,206}</string>
                <key>spriteSourceSize</key>
                <string>{255,206}</string>
                <key>textureRect</key>
                <string>{{390,0},{255,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DoorTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,232}</string>
                <key>spriteSourceSize</key>
                <string>{258,232}</string>
                <key>textureRect</key>
                <string>{{645,0},{258,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,118}</string>
                <key>spriteSourceSize</key>
                <string>{119,118}</string>
                <key>textureRect</key>
                <string>{{903,0},{119,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MineDoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,155}</string>
                <key>spriteSourceSize</key>
                <string>{154,155}</string>
                <key>textureRect</key>
                <string>{{1491,0},{154,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doorBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,151}</string>
                <key>spriteSourceSize</key>
                <string>{148,151}</string>
                <key>textureRect</key>
                <string>{{242,0},{148,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1022,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1222,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1422,0},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,425}</string>
                <key>spriteSourceSize</key>
                <string>{431,425}</string>
                <key>textureRect</key>
                <string>{{0,232},{431,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>公告.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{431,232},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>圆角矩形 1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,1150}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1150}</string>
                <key>textureRect</key>
                <string>{{631,232},{1200,1150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>圆角矩形 2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1154,180}</string>
                <key>spriteSourceSize</key>
                <string>{1154,180}</string>
                <key>textureRect</key>
                <string>{{0,1382},{1154,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>圆角矩形1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,47}</string>
                <key>spriteSourceSize</key>
                <string>{194,47}</string>
                <key>textureRect</key>
                <string>{{1154,1382},{194,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>圆角矩形2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,54}</string>
                <key>spriteSourceSize</key>
                <string>{702,54}</string>
                <key>textureRect</key>
                <string>{{0,1562},{702,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>矩形 1 拷贝@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{702,1562},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>门框填充物.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,347}</string>
                <key>spriteSourceSize</key>
                <string>{257,347}</string>
                <key>textureRect</key>
                <string>{{806,1562},{257,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KuangJi.png</string>
            <key>size</key>
            <string>{1831,1909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8f879eaf8ec89719f4cdbc9ec549a6:f0c51e45ede99f43c28cd83bc460db20:37499dad0449d8f444683340ac261293$</string>
            <key>textureFileName</key>
            <string>KuangJi.png</string>
        </dict>
    </dict>
</plist>
