<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>倒计时背景@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,126}</string>
                <key>spriteSourceSize</key>
                <string>{464,126}</string>
                <key>textureRect</key>
                <string>{{0,418},{464,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>加速1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{212,0},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>加速2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,46}</string>
                <key>textureRect</key>
                <string>{{292,0},{80,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>投选@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{0,238},{200,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排名赛车背景@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{176,94},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>标题@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,92}</string>
                <key>spriteSourceSize</key>
                <string>{430,92}</string>
                <key>textureRect</key>
                <string>{{0,326},{430,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>火焰1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{92,0},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>火焰2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{152,0},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>火箭@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{40,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>确定按钮@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,88}</string>
                <key>spriteSourceSize</key>
                <string>{222,88}</string>
                <key>textureRect</key>
                <string>{{200,238},{222,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>第一名@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{88,94},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>第三名@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{372,0},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>第二名@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{0,94},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>赛车起跑线@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{40,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>saiChe.png</string>
            <key>size</key>
            <string>{464,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96911e4caa1944907825b96533cd97fc:5d707e86afad3fa198ec35f82df937d2:b536fc76972e0dcb61b51dcbbf16c980$</string>
            <key>textureFileName</key>
            <string>saiChe.png</string>
        </dict>
    </dict>
</plist>
