<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{316,246}</string>
                <key>spriteSourceSize</key>
                <string>{332,258}</string>
                <key>textureRect</key>
                <string>{{0,215},{316,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1754,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,126}</string>
                <key>spriteSourceSize</key>
                <string>{106,126}</string>
                <key>textureRect</key>
                <string>{{1646,80},{106,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,46}</string>
                <key>spriteSourceSize</key>
                <string>{221,46}</string>
                <key>textureRect</key>
                <string>{{435,0},{221,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{268,0},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,37}</string>
                <key>spriteSourceSize</key>
                <string>{58,37}</string>
                <key>textureRect</key>
                <string>{{210,0},{58,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,86}</string>
                <key>spriteSourceSize</key>
                <string>{77,86}</string>
                <key>textureRect</key>
                <string>{{250,80},{77,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,91}</string>
                <key>spriteSourceSize</key>
                <string>{83,91}</string>
                <key>textureRect</key>
                <string>{{327,80},{83,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{886,0},{55,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_panel 拷贝 10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{1150,0},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_panel 拷贝 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{1242,0},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,706}</string>
                <key>spriteSourceSize</key>
                <string>{655,706}</string>
                <key>textureRect</key>
                <string>{{1205,215},{655,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongbao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{444,641}</string>
                <key>spriteSourceSize</key>
                <string>{518,707}</string>
                <key>textureRect</key>
                <string>{{316,215},{444,641}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongbao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{445,641}</string>
                <key>spriteSourceSize</key>
                <string>{567,703}</string>
                <key>textureRect</key>
                <string>{{760,215},{445,641}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luabox2 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,99}</string>
                <key>spriteSourceSize</key>
                <string>{473,99}</string>
                <key>textureRect</key>
                <string>{{714,80},{473,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luabox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{1187,80},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>列表.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,58}</string>
                <key>spriteSourceSize</key>
                <string>{209,58}</string>
                <key>textureRect</key>
                <string>{{941,0},{209,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>发5个红包.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,74}</string>
                <key>spriteSourceSize</key>
                <string>{210,74}</string>
                <key>textureRect</key>
                <string>{{1334,0},{210,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>发红包.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,85}</string>
                <key>spriteSourceSize</key>
                <string>{250,85}</string>
                <key>textureRect</key>
                <string>{{0,80},{250,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>发红包2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,74}</string>
                <key>spriteSourceSize</key>
                <string>{210,74}</string>
                <key>textureRect</key>
                <string>{{1544,0},{210,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>圆角矩形 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,35}</string>
                <key>spriteSourceSize</key>
                <string>{88,35}</string>
                <key>textureRect</key>
                <string>{{122,0},{88,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>圆角矩形 11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,45}</string>
                <key>spriteSourceSize</key>
                <string>{128,45}</string>
                <key>textureRect</key>
                <string>{{307,0},{128,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>圆角矩形 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,31}</string>
                <key>spriteSourceSize</key>
                <string>{122,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{122,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>圆角矩形 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,50}</string>
                <key>spriteSourceSize</key>
                <string>{230,50}</string>
                <key>textureRect</key>
                <string>{{656,0},{230,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>成功.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,706}</string>
                <key>spriteSourceSize</key>
                <string>{655,706}</string>
                <key>textureRect</key>
                <string>{{0,921},{655,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>抢.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{1752,80},{135,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>矩形 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,96}</string>
                <key>spriteSourceSize</key>
                <string>{221,96}</string>
                <key>textureRect</key>
                <string>{{493,80},{221,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>红包列表.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,713}</string>
                <key>spriteSourceSize</key>
                <string>{660,713}</string>
                <key>textureRect</key>
                <string>{{1310,921},{660,713}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>组 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,706}</string>
                <key>spriteSourceSize</key>
                <string>{655,706}</string>
                <key>textureRect</key>
                <string>{{655,921},{655,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>组 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,91}</string>
                <key>spriteSourceSize</key>
                <string>{83,91}</string>
                <key>textureRect</key>
                <string>{{410,80},{83,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>自动.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,108}</string>
                <key>spriteSourceSize</key>
                <string>{103,108}</string>
                <key>textureRect</key>
                <string>{{1440,80},{103,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>自动抢.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,108}</string>
                <key>spriteSourceSize</key>
                <string>{103,108}</string>
                <key>textureRect</key>
                <string>{{1543,80},{103,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HongBao.png</string>
            <key>size</key>
            <string>{1970,1634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5aa2a42da9c515e49c862367ccb8e03:731160ed7c4c58a4c0f0bfa08ef1745a:d36a670a591f19f48e4fc70a44cd6b9e$</string>
            <key>textureFileName</key>
            <string>HongBao.png</string>
        </dict>
    </dict>
</plist>
