<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>抢红包.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,315}</string>
                <key>spriteSourceSize</key>
                <string>{514,315}</string>
                <key>textureRect</key>
                <string>{{517,307},{514,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>斗地主.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,307}</string>
                <key>spriteSourceSize</key>
                <string>{511,307}</string>
                <key>textureRect</key>
                <string>{{1159,0},{511,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>标题.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,215}</string>
                <key>spriteSourceSize</key>
                <string>{872,215}</string>
                <key>textureRect</key>
                <string>{{287,0},{872,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>水果机.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,314}</string>
                <key>spriteSourceSize</key>
                <string>{517,314}</string>
                <key>textureRect</key>
                <string>{{0,307},{517,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>离开.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,111}</string>
                <key>spriteSourceSize</key>
                <string>{287,111}</string>
                <key>textureRect</key>
                <string>{{0,0},{287,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>麻将.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,346}</string>
                <key>spriteSourceSize</key>
                <string>{521,346}</string>
                <key>textureRect</key>
                <string>{{1031,307},{521,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>娱乐中心.png</string>
            <key>size</key>
            <string>{1670,653}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da61618418bba087cdfddcb41a337182:2d2c9f8764cbaa083b6194c6709bae01:538d78fe985e21234c98fdf53d9e97ad$</string>
            <key>textureFileName</key>
            <string>娱乐中心.png</string>
        </dict>
    </dict>
</plist>
